body {
    margin: 0px !important;
    padding: 0px !important;
}

.navbar-logo {
    margin: 0px ;
    width: 5em ;
    height: auto ;
}

nav.navbar {
    background-color: #c10001 !important;
    padding: 0px !important;
    margin: 0px !important;
}

.btn-primary {
    background-color: #c10001 !important;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-content span {
    font-weight: bold;
  }
  