body {
    margin: 0px !important;
    padding: 0px !important;
}

.navbar-logo {
    margin: 0px ;
    width: 5em ;
    height: auto ;
}

nav.navbar {
    background-color: #c10001 !important;
    padding: 0px !important;
    margin: 0px !important;
}

.btn-primary {
    background-color: #c10001 !important;
}